/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
} */

li, button{
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

.navbar2{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  box-shadow: inset rgba(149, 157, 165, 0.2) 0px -2px 20px
}

.navbar2  h1{
  color: #edf0f1;
  order: 3;
  margin-left: auto;
}

ul{
  display: flex;
  list-style: none;
  cursor: pointer;
  align-items: center;
}

li{
  display: inline-block;
  padding: 0 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-links>li , a{
  transition: all 0.3 ease 0s;
}

.navbar2 ul li:nth-child(1){
  margin: 0 10px 0 0;
  padding-left: 0;
}

.nav-links>li:hover{
  color: #0088a9
}


.navbar2 a  button{
  padding: 9px;
  margin-left: 20px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-track{
  background-color: rgba(137, 43, 226, 0.212);
}

body::-webkit-scrollbar-thumb{
  background-color: #bdcdd223;
}
